<h1>VAT Calculator – Intra-EU Transactions</h1>

<p>Use this form to simulate VAT for a cross-border sale within the European Union.</p>


<%= form_with url: vat_simulator_calculate_path, method: :post, data: { turbo: false } do |f| %>
  <div>
    <label>Origin Country</label>
    <%= select_tag :origin_country, options_from_collection_for_select(@countries, :code, :name), prompt: "Select origin country" %>
  </div>

  <div>
    <label>Destination Country</label>
    <%= select_tag :destination_country, options_from_collection_for_select(@countries, :code, :name), prompt: "Select destination country" %>
  </div>

  <div>
    <label>Product Category</label>
    <%= select_tag :product_category, options_for_select(@categories), prompt: "Select category" %>
  </div>

  <div>
    <label>Sale Value (EUR)</label>
    <%= number_field_tag :sale_value, nil, step: 0.01 %>
  </div>

  <%= submit_tag "Calculate VAT" %>
<% end %>
